@keyframes slideOut {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(-10px) scale(0.95);
    }
    100% {
        transform: translateX(-200%) scale(0.9);
    }
}
@keyframes slideOutLeft {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(-10px) scale(0.95);
    }
    100% {
        transform: translateX(-200%) scale(0.9);
    }
}
@keyframes slideOutRight {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(10px) scale(0.95);
    }
    100% {
        transform: translateX(200%) scale(0.9);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(400%) scale(0.9);
    }
    50% {
        transform: translateX(10px) scale(0.95);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-400%) scale(0.9);
    }
    50% {
        transform: translateX(-10px) scale(0.95);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
